[submodule "ros2_dotnet"]
	path = ros2_dotnet
	url = https://github.com/fmrico/ros2_dotnet.git
  branch = collections
[submodule "dotnet_deps/ament_cmake_export_assemblies"]
	path = dotnet_deps/ament_cmake_export_assemblies
	url = https://github.com/esteve/ament_cmake_export_assemblies.git
[submodule "dotnet_deps/dotnet_cmake_module"]
	path = dotnet_deps/dotnet_cmake_module
	url = https://github.com/ros2-dotnet/dotnet_cmake_module.git
[submodule "dotnet_deps/common_interfaces"]
	path = dotnet_deps/common_interfaces
	url = https://github.com/ros2/common_interfaces.git
  branch=foxy
[submodule "dotnet_deps/rcl_interfaces"]
	path = dotnet_deps/rcl_interfaces
	url = https://github.com/ros2/rcl_interfaces.git
  branch=foxy
[submodule "dotnet_deps/rosidl_defaults"]
	path = dotnet_deps/rosidl_defaults
	url = https://github.com/ros2/rosidl_defaults.git
  branch=foxy
[submodule "dotnet_deps/unique_identifier_msgs"]
	path = dotnet_deps/unique_identifier_msgs
	url = https://github.com/ros2/unique_identifier_msgs.git
  branch=foxy
[submodule "dotnet_deps/test_interface_files"]
	path = dotnet_deps/test_interface_files
	url = https://github.com/ros2/test_interface_files.git
  branch=foxy
